body {
    background-color: #000;
    color: #c4a367 !important;
    font-family: 'Yuji Syuku', serif !important; 
    padding: 0;
}
body.gray-background {
    background-color: #121013;
}
.vh-200 {
    height: 200vh;
}

h1 {
    font-size: 3em;
}
#headingwrapper {
    text-align: center;
    display: inline;
}
#headingwrapper > h1 {
    display: inline;
    border-bottom: 1px solid #c4a367dd;
    padding: 0 1em;
}
.btnwrapper {
    padding: 0;
}
.debug {
    border: 1px solid white;
}
.scenebtn {
    height: 100%;
    width: 100%;
}
button {
    padding: 0 20px;
    position: relative;
    background-color: #c4a36700;
    border-radius: 15px;
    border: 2px solid #c4a367;
    color: #c4a367 !important;
    font-size: 1.5em;
    transition: 0.1s;
}
button:hover {
    background-color: #c4a3670c;
}
button:active {
    background-color: #c4a36718;
}
.h-35  {
    height: 35% !important;
}
.paraText {
    font-size: 1.5em;
    letter-spacing: -0.08em;
}
.click-instruction {
    text-align: center;
    padding: 5px 0;
}
.instruction {
    margin-top: 20px;
    font-size: 1.5em;
}
textarea {
    background-color: #12101300;
    color: #c4a367 !important;
    font-family: 'Yuji Syuku', serif !important; 
    width: 100%;
    height: 100%;
    border: 0;
    padding: 10px;
    resize: none;
}
textarea:focus {
    outline:0;
}
h2  {
    font-size: 2em;
}

.disappear {
    animation: 1s linear opacitydrop;
    animation-fill-mode: forwards; 
}
.smallText {
    font-size: 1em !important;
}
.progress {
    margin: 2em 5em;
    background-color: #12101300;
    border: 1px solid #c4a367;
    padding: 2px;
    transition: 0.1s;
}
#realProgBar {
    background-color: #c4a367;
    transition: 0.1s;
}

#body.turnOff {
    color: #000 !important;
    transition: 1s;
}
#cut6 {
    font-size: 2.5em;
}
@keyframes opacitydrop {
    0% {
        opacity: 100%;
    }
    100% {

        opacity: 0%;
    }
}